﻿<%@ Page Title="Price Watcher" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="PriceWatcher._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="row">
        <h1>Price Watcher</h1> 
    </div>

    <div class="row">
        <h3>Stock Price Picker:</h3> 
        <table style="width:100%">
            <tr>
                <td style="width:35%">
                    &#x27A4; Pick a stock code: <asp:DropDownList ID="dlStockCodes" runat="server" AutoPostBack="True"></asp:DropDownList>&nbsp;(50 available)
                </td>
                <td style="width:40%">
                    <asp:Timer runat="server" Interval="5000" ID="tTimer"></asp:Timer>
                    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                        <Triggers>
                            <asp:AsyncPostBackTrigger ControlID="tTimer" />
                            <asp:AsyncPostBackTrigger ControlID="dlStockCodes" />
                            <asp:AsyncPostBackTrigger ControlID="btnRefresh" />
                        </Triggers>
                        <ContentTemplate>
                        <fieldset>
                            &#x27A4; Current Price ($.c):&nbsp;<asp:TextBox ID="tbPrice" runat="server" Style="text-align: right" ReadOnly="True" ToolTip="Latest Price" Width="80"></asp:TextBox>&nbsp;(updated every 5 secs)
                        </fieldset>
                        </ContentTemplate>
                    </asp:UpdatePanel>
                </td>
                <td>
                    &#x27A4; Latest price now:&nbsp;<asp:Button ID="btnRefresh" runat="server" Text="Refresh" />
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <p />
        <h3>Development Notes:</h3> 
        <ol>
            <li>
                Following strictly to the requirements that stated: &quot;<i>Keep it simple with a focus on Architecture, code and design quality.  Do not over engineer the solution.</i>&quot
                This web page was done in the most simple form I could think of - an ASP.NET Web Form. No artwork and minimal CSS.
            </li>
            <li>
                Tbh, for a fully scalable solution, I would have developed this solution using ASP.NET MVC, jQuery and Ajax connecting to a Web REST API (using Caching) which connects to a backend SQL Server database ... but felt this would have been over-engineering it 8^)
            </li>
            <li>
                The Website was initially auto-generated by VS2017 during solution creation and created many, many files that are not required. These have been left as-is.                    
            </li>
            <li>
                The files I modified/created to render this webpage:  Default.aspx, Default.aspx.cs, Site.Master and Helpers/StockPricingFactory.cs
            </li>
        </ol>
        <p />
        <h3>Acknowledgments:</h3>
        <ol>
            <li>
                Reference information about usage of the UpdatePanel Control was sourced from <a href="https://msdn.microsoft.com/en-us/library/bb386454.aspx?f=255&MSPPError=-2147217396" target="_blank">here</a>.
            </li>
        </ol>
    </div>
</asp:Content>

